@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--nunito), var(--kanit);
  font-weight: 300;
  font-size: 1.0rem;
  color: #2E2D2B;
  background-color: #F4F1EE
}

[lang|="th"] {
  font-family: var(--kanit), sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}