@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--nunito), var(--kanit);
  font-weight: 300;
  font-size: 0.85rem;
  color: #555555;
  background-color: #FAF2E5;
}

[lang|="th"] {
  font-family: var(--kanit), sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.bg-content1 {
  background-color: #FFFFFF;
  color: #555555;
}

.bg-default-100 {
  background-color: #FAF2E5;
  color: #555555;
}
