@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--nunito), var(--kanit);
  font-weight: 300;
  font-size: 0.85rem;
  color: #1F2A3D;
  background-color: #F4F7FB;
}

[lang|="th"] {
  font-family: var(--kanit), sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.bg-content1 {
  background-color: #FFFFFF;
  color: #1F2A3D;
}

.bg-default-100 {
  background-color: #FFFFFF;
  color: #1F2A3D;
}

/* .border-default-200 {
    border-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 #1F2A3D;
} */
